main {
    font-size: 1rem;
    display: grid;
    width: 100%; height:100%;
    grid-template-columns: 2fr 1fr 50em 1fr 2fr;
    grid-template-rows: 3em 30em 1em auto;
    grid-template-areas:
        "clear-l title title title clear-r"
        "clear-l . keyboard . clear-r"
        "clear-l hr hr hr clear-r"
        "clear-l . result . clear-r";
    gap: 1em;
    user-select: none;
}

.clear-area {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: top;
    padding-top: 20em;
    flex-direction: column;
    color: var(--gray);
}

.clear-area:hover {
    color: black;
}

.clear-area > i {
    font-size: 44pt;
}

.clear-area.left { grid-area: clear-l; }
.clear-area.right { grid-area: clear-r; }

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
}

main > hr {
    grid-area: hr;
    margin: .5em;
}

#keyboard-area {
    grid-area: keyboard;

    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: repeat(14, 1fr);
}

#keyboard-area > div {
    padding: 1em;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    font-weight: 900;
}
#keyboard-area > div > .name {
    align-self: flex-end;
}
#keyboard-area > .white {
    z-index: 1;
    color: black;
    background-color: white;
    border-color: black;
    grid-row: 1 / 3;
}
#keyboard-area > .black {
    z-index: 11;
    color: white;
    background-color: rgb(0, 12, 12);
    border-color: rgb(64, 64, 64);
    grid-row: 1 / 2; 
}
#keyboard-area > .active {
    color: black;
    background-color: rgb(255, 79, 132);
    box-shadow: 0 0 3em -0.5em white inset;
    border-color: rgb(158, 40, 76);
}

#keyboard-area > .c { grid-column: 1 / 3; }
#keyboard-area > .d { grid-column: 3 / 5; }
#keyboard-area > .e { grid-column: 5 / 7; }
#keyboard-area > .f { grid-column: 7 / 9; }
#keyboard-area > .g { grid-column: 9 / 11; }
#keyboard-area > .a { grid-column: 11 / 13; }
#keyboard-area > .b { grid-column: 13 / 15; }

#keyboard-area > .cs { grid-column: 2 / 4; }
#keyboard-area > .ds { grid-column: 4 / 6; }
#keyboard-area > .fs { grid-column: 8 / 10; }
#keyboard-area > .gs { grid-column: 10 / 12; }
#keyboard-area > .as { grid-column: 12 / 14; }

#inst-area {
    grid-area: result;
    text-align: center;
}

#result-area {
    grid-area: result;
}

.key-card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 3rem;
    margin: 8px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;

    cursor: pointer;
}

.key-card > span {
    align-self: flex-end;
}

@media (max-width: 1000px) {
    main {
        font-size: 0.7rem;
        grid-template-columns: 1fr;
        grid-template-rows: 6em 3em 40em 1em auto 6em;
        grid-template-areas:
            "clear-l"
            "title"
            "keyboard"
            "hr"
            "result"
            "clear-r";
    }
    .clear-area {
        padding-top: 0;
    }

    #keyboard-area {
        grid-area: keyboard;
        padding: 2em;
    
        display: grid;
        grid-template-rows: repeat(14, 1fr);
        grid-template-columns: 2fr 1fr;
    }
    #keyboard-area > div {
        flex-direction: column;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 0;
    }
    #keyboard-area > .white {
        grid-column: 1 / 3;
    }
    #keyboard-area > .black {
        grid-column: 1 / 2; 
    }

    #keyboard-area > .b { grid-row: 1 / 3; }
    #keyboard-area > .a { grid-row: 3 / 5; }
    #keyboard-area > .g { grid-row: 5 / 7; }
    #keyboard-area > .f { grid-row: 7 / 9; }
    #keyboard-area > .e { grid-row: 9 / 11; }
    #keyboard-area > .d { grid-row: 11 / 13; }
    #keyboard-area > .c { grid-row: 13 / 15; }

    #keyboard-area > .as { grid-row: 2 / 4; }
    #keyboard-area > .gs { grid-row: 4 / 6; }
    #keyboard-area > .fs { grid-row: 6 / 8; }
    #keyboard-area > .ds { grid-row: 10 / 12; }
    #keyboard-area > .cs { grid-row: 12 / 14; }
}
