@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Geo);

* {
    margin: 0;
}

body {
    position: relative;
}

canvas {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}
