@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Oxanium&display=swap');

:root {
    font-family: 'Oxanium', 'Kosugi Maru', cursive;
}

main {
    display: grid;
    width: 100%; height:100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 3em auto 2em auto;
    grid-template-areas:
        "lng-button lng-button lng-button"
        ". tag ."
        ". ctrl-button ."
        ". result .";
    gap: 1em;
}

button {
    font-family: inherit;
    border: none;
}

hr {
    margin: .5em;
}

#lng-button-area {
    grid-area: lng-button;
}

.lng-button {
    float: right;
    margin: .25em;
    height: 2em;
    background-color: rgb(255, 255, 255);
    border: none;
}

#tag-area {
    grid-area: tag;
}

.tag-button {
    display: inline-block;
    width: 8.5em; height: 2.5em;
    margin: .4em;
    background-color: rgb(255, 255, 255);
}

.tag-button.checked {
    background-color: rgb(255, 128, 128);
}

#ctrl-button-area {
    grid-area: ctrl-button;
}

#ctrl-button-area > button {
    width: 100%;
}

#result-area, #inst-area {
    grid-area: result;
}

.operator-pool {
    display: flex;
    flex-wrap: wrap;
}

.operator-container {
    padding: 1em;
}

.operator-card {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas: "name . tags";
    gap: 1em;
    align-items: center;
    justify-content: center;

    background-color: rgb(255, 255, 255);
    height: 6em;
    width: 20em;
    padding: 1em;
}

.operator-card > .name {
    grid-area: name;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.operator-card > .tags {
    grid-area: tags;
}
