:root {
    --gray: rgb(128, 128, 128);
    --carbon: rgb(48, 64, 64);
    --card-flare: 0 0 3em;
}

main {
    font-size: 1rem;
    display: grid;
    width: 100%; height:100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 3em auto auto;
    grid-template-areas:
        "clear-l lng-button clear-r"
        "clear-l tag clear-r"
        "clear-l result clear-r";
    gap: 1em;
}

.clear-area {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: top;
    padding-top: 20em;
    flex-direction: column;
    color: var(--gray);
}

.clear-area:hover {
    color: black;
}

.clear-area > i {
    font-size: 44pt;
}

.clear-area.left { grid-area: clear-l; }
.clear-area.right { grid-area: clear-r; }

button {
    font-family: inherit;
    cursor: pointer;
    border: none;
}

hr {
    margin: .5em;
}

#lng-button-area {
    grid-area: lng-button;
}

.lng-button {
    float: right;
    margin: .25em;
    height: 2em;
    background-color: rgb(255, 255, 255);
    border: none;
}

#tag-area {
    grid-area: tag;
    margin-bottom: 2em;
}

.tag-button {
    font-size: 1rem;

    display: inline-block;
    width: 8em; height: 2.5em;
    margin: .4em;
    background-color: var(--carbon);
    color: white;
    border-radius: .3em;
    box-shadow: 0 0 1em black inset;
}

.tag-button:hover {
    box-shadow: none;
}

.tag-button.checked {
    animation: puni 0.2s ease-in-out;
    background-color: white;
    box-shadow: 0 0 2em white;
    color: black;
}

@keyframes puni {
    0% {transform: none;}
    15% {transform: scale(1.1);}
    75% {transform: scale(0.9);}
    100% {transform: none;}
}

#result-area, #inst-area {
    grid-area: result;
}

.inst {
    margin: 2em;
}

.operator-pool {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
}

.operator-container {
    padding: 1em;
}

.operator-card {
    display: grid;
    position: relative;
    overflow: hidden;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas: "name . tags";
    align-items: center;
    justify-content: center;

    background-color: var(--carbon);
    height: 6em; width: 18em;
    padding: 1em;
    box-shadow: 0 1em 1em rgb(96, 124, 124);
    border-radius: .5em;
}

.operator-card:before {
    content: '';
    position: absolute;
    width: 60%; height: 100%;
    top: 0; left: -1em;

    background: rgb(230, 230, 230);
    transform: skewX(20deg);
    z-index: 1;
    box-shadow: 0 0 2em;
}

.operator-card:hover {
    animation: pico 0.3s ease-out;
    transform: scale(1.1);
    box-shadow: 0 3em 2em -1em rgb(96, 124, 124);
}

@keyframes pico {
    from {
        transform: none;
        box-shadow: 0 1em 1em rgb(96, 124, 124);
    }
    to {
        transform: scale(1.1);
        box-shadow: 0 3em 2em -1em rgb(96, 124, 124);
    }
}

.operator-card.rarity-6:before {
    box-shadow: var(--card-flare) red;
}
.operator-card.rarity-5:before {
    box-shadow: var(--card-flare) rgb(255, 200, 10);
}
.operator-card.rarity-4:before {
    box-shadow: var(--card-flare) white;
}
.operator-card.rarity-3:before {
    box-shadow: var(--card-flare) rgb(48, 128, 255);
}
.operator-card.rarity-2:before {
    box-shadow: var(--card-flare) rgb(200, 255, 80);
}
.operator-card.rarity-1:before {
    box-shadow: var(--card-flare) black;
}

.operator-card > .name {
    grid-area: name;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: black;
    z-index: 1;
    text-shadow: 2px 2px 8px white;
}

.operator-card > .tags {
    grid-area: tags;
    justify-self: end;
    z-index: 2;
    color: white;
}

.shine > .tags {
    font-weight: 700;
    color: rgb(255, 250, 160)
}

@media (max-width: 800px) {
    main {
        font-size: 0.7rem;
        grid-template-columns: 1fr;
        grid-template-rows: 3em auto auto auto auto;
        grid-template-areas:
            "lng-button"
            "clear-l"
            "tag"
            "result"
            "clear-r";
    }
    .clear-area {
        padding-top: 0;
    }

    .tag-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .tag-button {
        font-size: inherit;
    }

    .operator-container {
        padding: .3em;
    }
}
