:root {
	--white: rgb(255, 255, 255);
	--almostWhiteGreen: rgb(250, 255, 250);
	--ashGreen: rgb(220, 240, 240);
	--normalGreen: rgb(140, 200, 180);
	--darkGreen: rgb(20, 80, 60);
	--lightBlueGreen: rgb(90, 220, 220);
	--normalBlueGreen: rgb(60, 180, 180);
	--lightBlue: rgb(160, 160, 255);
	--darkBlue: rgb(30, 30, 45);
	--normalRed: rgb(250, 20, 50);
	--black: rgb(0, 0, 0);
	--blackTrans: rgba(0, 0, 0, 0.5);
} 

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
}
body {
	background-image: url(../images/bgunit.png);
	background-repeat: repeat;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 200px;
	border-bottom: solid 32px var(--blackTrans);
	box-shadow: 0 0 1000px var(--lightBlueGreen);
	margin-bottom: 100px;
}
.page_title {
	color: white;
	font-family: monospace;
	font-size: 100px;
}

#content-list {
	margin-right: 25vw;
	margin-left: 25vw;
}
.container-outer {
	height: 200px;

	border: solid 1em var(--black);
	border-width: 5px 15px 5px 15px;
	border-radius: 1em;

	box-shadow: 0 0 20px var(--lightBlueGreen);

	margin-top: 50px;
	
	display: grid;
	grid-template-columns: 4% 2% 4% 80% 4% 2% 4%;
	grid-template-rows: 10% 10% auto 10% 10%;

	pointer-events: none;
	transition: all 300ms 0s ease;
}
.container-outer:hover {
	box-shadow: 0 0 50px var(--lightBlueGreen);
}

.generator {
	background: var(--normalGreen);
	border-radius: 5px;

	grid-row: 3 / span 1;
}
.generator.left {
	grid-column: 2 / span 1;
}
.generator.right {
	grid-column: 6 / span 1;
}
.container-outer:hover .generator {
	background: var(--white);
	box-shadow: 0 0 30px var(--lightBlueGreen);
}

.container-inner {
	grid-column: 4 / span 1;
	grid-row: 2 / span 3;
	
	display: grid;
	grid-template-rows: 30% auto 65%;

	background: var(--blackTrans);
	border-radius: 20px;
	box-shadow: 0 0 0 var(--normalGreen);
	transition: all 300ms 0s ease;

	pointer-events: auto;
	cursor: pointer;
}
.container-inner:hover {
	box-shadow: 0 0 100px var(--lightBlueGreen);
}

.container-title {
	grid-row: 1 / span 1;
}
.container-desc {
	grid-row: 3 / span 1;
}
.textarea {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.container-text {
	color: var(--white);
}
