@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Oxanium&family=Material+Icons&display=swap');

:root {
    font-family: 'Oxanium', 'Kosugi Maru', cursive;
	--white: rgb(255, 255, 255);
	--almostWhiteGreen: rgb(250, 255, 250);
	--ashGreen: rgb(220, 240, 240);
	--normalGreen: rgb(140, 200, 180);
	--darkGreen: rgb(20, 80, 60);
	--lightBlueGreen: rgb(90, 220, 220);
	--normalBlueGreen: rgb(60, 180, 180);
	--lightBlue: rgb(160, 160, 255);
	--darkBlue: rgb(30, 30, 45);
	--normalRed: rgb(250, 20, 50);
	--black: rgb(0, 0, 0);
	--blackTrans: rgba(0, 0, 0, 0.5);
} 

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	outline: 0;
}
input::-moz-focus-inner, button::-moz-focus-inner {
	border: 0;
}

body {
	background: rgb(203, 203, 203) url('../images/bgstain.jpg') fixed no-repeat bottom right;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 200px;
	border-bottom: solid 32px var(--blackTrans);
	box-shadow: 0 0 1000px var(--lightBlueGreen);
	margin-bottom: 100px;
}

@media (max-width: 800px) {
	body {
		background: rgb(203, 203, 203);
	}
}
