:root {
	--white: rgb(255, 255, 255);
	--almostWhiteGreen: rgb(250, 255, 250);
	--ashGreen: rgb(220, 240, 240);
	--normalGreen: rgb(140, 200, 180);
	--darkGreen: rgb(20, 80, 60);
	--lightBlueGreen: rgb(90, 220, 220);
	--normalBlueGreen: rgb(60, 180, 180);
	--normalRed: rgb(250, 20, 50);

	--icon_width: 360px;
	--icon_width_half: var(--icon_width) / 2;
	--icon_height: 320px;
	--front_ratio: .7;
	--back_ratio: .5;
} 

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
}
body {
	background-image: url(../images/bgunit.png);
	background-repeat: repeat;
}

header {
	height: 20vh;
}
.rollingMenu {
	height: 80vh;
}

.title {
	text-align: center;
	color: white;
	font-family: monospace;
	font-size: 50px;
	left: 50vw;
	top: 40vh;
}

.menuIcon {
	position: absolute;
	transition: all 500ms 0s ease;
}
a {
	width: 100%;
	height: 100%;
	display: inline-block;
}
img {
	width: 100%;
	height: 100%;
}

#front {
	left: calc(50% - var(--icon_width_half));
	top: 60%;
	width: var(--icon_width);
	height: var(--icon_height);
}
#right-front {
	left: calc(80% - var(--icon_width_half) * var(--front_ratio));
	top:50%;
	width: calc(var(--icon_width) * var(--front_ratio));
	height: calc(var(--icon_height) * var(--front_ratio));
}
#left-front {
	left: calc(20% - var(--icon_width_half) * var(--front_ratio));
	top:50%;
	width: calc(var(--icon_width) * var(--front_ratio));
	height: calc(var(--icon_height) * var(--front_ratio));
}
#right-back {
	left: calc(60% - var(--icon_width_half) * var(--back_ratio));
	top:30%;
	width: calc(var(--icon_width) * var(--back_ratio));
	height: calc(var(--icon_height) * var(--back_ratio));
}
#left-back {
	left: calc(40% - var(--icon_width_half) * var(--back_ratio));
	top:30%;
	width: calc(var(--icon_width) * var(--back_ratio));
	height: calc(var(--icon_height) * var(--back_ratio));
}